a{
	color: white;
}
.header {
    background-image: url(../img/11.jpeg);
    background-size: cover;
    background-position: bottom bottom;
    height: 600px;
    background-attachment: fixed;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent; 
	color: gold;
	border: 1px solid gold;
	margin: -1px;
}
.navigation{
	background-color: transparent;/*rgba(130, 130, 130, 0.77);*/
	/*box-shadow: 3px 2px 10px rgba(0,0,0,0.4);*/
	display: flex;
}
.navbar-header {
	flex: 1;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    flex: 11;
    margin-top: 10px;
}
.nav.navbar-nav {
	float: right;
}
.logo {
	height: 50px;
}
.main {
background-color: #ccc;
}
.glyphicon {
    color: black;
    padding-right: 10px;
    font-size: -webkit-xxx-large;
}
.about {
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(to top, #000103 -40%, #976305 42%, #0c0c0c 99%);
    padding: 25px;
}
.about>.container>.row>div{
	text-align: center;
}
.desc {
	font-size: large;
}
.more {
    background: linear-gradient(to top, #d6d6d6 12%, #000000 58%, #6d4804 120%);
    color: #f5f5f5;
    padding-bottom: 15px;
}
.btn-default:hover {
     background-color: rgba(255, 215, 0, 0.9);
    background-position: 0px -33px;
}
.video {
    background: linear-gradient(to top, #1e1e1e -34%, #966305 50%, #d6d6d6 100%);
    padding-bottom: 10px;
}
.footer {
    background: linear-gradient(to top, #1e1e1e 66%, #79530b 130%);
    color: #eee;
}
.copyright {
	padding-top: 15px;
}
.footer>.container>.row>.navbar-brand {
	height: 0px;
}
#mail:before {
	content: '';
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    width: 56px;
    height: 45px;
    position: relative;
    background-repeat: no-repeat;
    background-position: -156px;
    bottom: -14px;
    left: -8px;
}
.vk {
    overflow: hidden;
    width: 48px;
    height: 30px;
    position: relative;
    top: -40px;
}
.vk > a {
	position: relative;
    top: -73px;
}
.vk img {
    position: relative;
    left: -177px;
    top: -55px;
}
.facebook {
    overflow: hidden;
    width: 47px;
    height: 27px;
    margin-top: 4px;
    margin-left: -20px;
    position: relative;
    top: -40px;
}
.facebook > a {
	position: relative;
    top: -54px;
    left: -40px;
}
.facebook img {
    position: relative;
    top: -37px;
    left: 22px;
}
.instagram {
	overflow: hidden;
    width: 45px;
    height: 26px;
    margin-top: 7px;
    margin-left: -28px;
    position: relative;
    top: -40px;
}
.instagram > a {
    position: relative;
    top: -1px;
}
.instagram img {
	position: relative;
    top: -93px;
    right: 124px;
}